.center {
  margin: 0px;
  padding: 20px;
}
.box {
  margin: 0;

  max-width: 100%;
  height: 100vh;
  background-color: cornsilk;
  color: darkblue;
}

.App-header {
  padding: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  border: 2px double gold;
  background-color: rgb(198, 146, 17);
  color: black;
}
.divApp {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.App {
  background-color: #d5d6d8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: space-between;

  color: rgb(0, 0, 0);
  height: 200px;
  width: 400px;
  margin: 10px;
  padding: 10px;

  border: 2px solid gray;
}
